*{ padding: 0; border: 0; margin: 0; }
*,*:before, *:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; 
  -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*------------------*/

:root {
  --val-xl: 160px;
  --val-lg: 120px;
  --val-md: 80px;
  --val-sm: 40px;
  --val-xs: 20px;
  --val-xl-calc: calc(48px + 8vw);
  --val-lg-calc: calc(36px + 6vw);
  --val-md-calc: calc(24px + 4vw);
  --val-sm-calc: calc(13px + 2vw);
  --val-xs-calc: calc(6px + 1vw);
  --font: 'Source Sans Pro', sans-serif;
  --black: #333333;
  --black-80: rgba(33, 33, 33, .8);
  --dark-gray: #707070;
  --green: #00862F;
  --gray: #eeeeee;
  --orange: #f6ab29;
  --border-radius-xs: 5px;
  --border-radius: 8px;
  --border-radius-lg: 20px;
  --brand-decopaint: #1d1d1b;
  --brand-novalis: #2b2e69;
  --brand-ecofacade: #9d9e9f;
}
body {
  background-color: white;
  color: var(--dark-gray);
  min-height: 100%;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
}
html {
  font-family: var(--font);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  scroll-behavior: smooth;
}
.sidebar{
    float: left;
    padding: 15px;
    background: #eeeeee;
    width: 10%;
    min-width: 200px;
    box-shadow: 2px 2px 8px #333333;
  }
  .sidebar h3 {
    font-size: 16px;
    color: #333333;
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
  }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 1px solid #00862f;
  }
  .sidebar li {margin: 12px 0 0 0px;}
  .sidebar a {
    text-decoration: none;
    display: block;  
    font-size: 13px;
    color: #333333;
    padding: 5px;
    position: relative;
    transition: .3s linear;
  }
  .sidebar a:hover {color: #b99d61;}
  .selected a {
    background: #00862f;
    color: #eeeeee;
  } 
.product-list{
  min-width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

  /* background: #f6ab29; */
  /* float: left; */
}
.item {
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 15px;
    background: #eeeeee;
    width: 30%;
    min-width: 200px;
    box-shadow: 2px 2px 8px #333333;
  }
  .item img {
    width: 25%;
    min-width: 160px;
}

.product-detail {
  width: 80%

}

.product-detail img {
  width: 30%;
}

.usedin-list{
  width: 40%;
}