{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Oikos{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1.0 ">
</head>

<body>
<div id="header">
    <a href="/" class="logo">Oikos</a>
</div>
<div id="subheader">
    <div class="cart">
        Ваша корзина пустая.
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>